<a href="https://colab.research.google.com/github/llatino/data-Bootcamp12/blob/main/BC_Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World!")

Hello World!

In [2]:
print("I learn python")

I learn python

**Variable & Calculation**

In [3]:
print(1+1)
print(2+2)

2
4

In [4]:
print(100/2)
print(100//2)

50.0
50

In [5]:
#floor division (//)
3//2.0

1.0

In [6]:
# modulo (%)
5%2

1

In [7]:
#power (**)
5**2

25

In [8]:
#Variable
x = 100
y = 120
print(x+y)

220

In [9]:
#name variable
income = 50000
expense = 25000
saving = income - expense
print(saving)

25000

In [10]:
#Remove variable
del saving

In [11]:
print(saving)

NameError: name 'saving' is not defined

# **Data Type**

* int
* float
* str
* bool => true / false

In [ ]:
name = "Latin"
text = "I love manga"
age = 25
gpa = 3.29
fav_artist = "meenoi"
movie_love = True

print(name, text, age, gpa, fav_artist, movie_love)

In [ ]:
## type hint
name: int = "Latin"
type(name)

In [ ]:
age: int = 37
gpa: float = 3.29

# **Data structure**

* list
* tuple
* dictionary
* set

In [ ]:
#shopping_list
mom_list = ["egg", "milk", "bread", "coffee"]

In [ ]:
mom_list

In [ ]:
#check len of list
len(mom_list)

In [ ]:
#index starts with 0
mom_list[0:2]
#slice item in a list

In [ ]:
# slice from bread till the end of list
mom_list[2:]

In [ ]:
# list can contain mutiple data types
Latin = ["toy", 25, "Bangkok", 3.29, True]

In [ ]:
#Nested list
brothers = [
    ["Tae", 1994],
    ["Latin", 2000]]

In [ ]:
brothers[1][1]

In [ ]:
brothers[0][1]

In [ ]:
# Function VS Method
len(mom_list)

In [ ]:
# list method
# function ที่สามารถใช้ได้กับ list เท่านั้น
mom_list.append("carrot")

In [12]:
mom_list

NameError: name 'mom_list' is not defined

In [ ]:
# remove the last item
mom_list.pop()

In [ ]:
mom_list

In [ ]:
#insert item at the index we want
mom_list.insert(1, "carrot")
mom_list

In [ ]:
mom_list.remove("carrot")
mom_list

In [ ]:
# string method
text = "a duck walk into a bar"

In [ ]:
text.upper()

In [13]:
## list of my friend (mutable)
friends = ["lisa", "bambam", "jisoo"]

In [14]:
friends.append("kevin")
friends

['lisa', 'bambam', 'jisoo', 'kevin']

In [15]:
## stg (immutable)
text = text.upper()
text

NameError: name 'text' is not defined

In [ ]:
# new variable
lang = "Python"
lang[-2]

In [ ]:
new_lang = "C" + lang[1:]
new_lang

In [ ]:
mom_list[0] = "sheep milk"
mom_list[1] = "juice"
mom_list

In [ ]:
## string method
text

In [ ]:
text = text.replace("DUCK", "CHICKEN")
text

In [ ]:
text.count("CHICKEN")

In [ ]:
text = text.lower()
text

In [ ]:
#split text into list
split_text = text.split(" ")
split_text

In [ ]:
join_text = text.join(",")
join_textd=

# **tuple is immutable**

In [ ]:
my_tup = ()

In [ ]:
## tuple unpacking
x, y, z = (100, 200, 300)

print(x+y+z)

# **Dictinary**

{key:value}

In [ ]:
movie = {
    "title": "The Dark Knight",
    "year": 2006,
    "rating" : {
        "imdb": 8.6,
        "rt": 8.7
    },
    "cast": ['A', 'B', 'C']
}

In [ ]:
movie

In [ ]:
movie["title"]

In [ ]:
#keys, items, values
movie.keys()

In [ ]:
movie.items()

In [ ]:
movie.values()

# **set : mutable**

unique values in a set

In [16]:
colors = ["red", "blue", "blue", "red"]

In [17]:
set_colors = set(colors)
set_colors

{'blue', 'red'}

In [18]:
books = {"Book1", "Book2", "Book3" }
books
type(books)

set

In [19]:
## add new item to set
set_colors.add("yellow")
set_colors

{'blue', 'red', 'yellow'}

# **Control flow**

* if
* for
* while loop

In [20]:
# if
score = 45
if score >= 82:
  print("Passed")
else:
  print("failed")

failed

In [21]:
# mutiple grades
score = 55

if score >= 80:
  print("A")
elif score >= 70:
  print("B")
elif score >= 60:
  print("C")
else:
  print("D")

D

In [22]:
# mutiplle condition
username = input("What ur name: ")
print(username)

What ur name: latin
latin

In [23]:
age: int = int(input("How old are u: "))
print(age)

How old are u: 25
25

In [24]:
# mutiple condition
# nigth club
has_id = True
age_over_18 = False
vip_customer = True

if has_id and (age_over_18 or vip_customer):
  print("Welcome to the club!")
else:
  print("Please come next time!!")

Welcome to the club!

In [25]:
# for & while
items = ["egg", "milk", "bread"]

for item in items:
  if item == "milk":
    print("Milk CP Meji")
  else:
    print(item)

egg
Milk CP Meji
bread

In [26]:
# List comprehension
result = []
for item in items:
  result.append(item.upper())

print(result)

['EGG', 'MILK', 'BREAD']

In [27]:
[item.upper() for item in items]

['EGG', 'MILK', 'BREAD']

In [28]:
## While ทำซ้ำจนกว่าไม่เป็นจริง
while True:
  user_input = input("Play on: Y/N ")
  if user_input == "N":
    print("Goodbye!")
    break
  else:
    print("GOOOO!")

Play on: Y/N n
GOOOO!
Play on: Y/N n
GOOOO!
Play on: Y/N n
GOOOO!
Play on: Y/N N
Goodbye!

In [29]:
# Count
count = 0
while count < 5:
  print("hi!")
  count += 1

hi!
hi!
hi!
hi!
hi!

# **Function**

In [30]:
def function_name():
  pass

In [31]:
## Create our first function
def greeting(name):

  print(f"Hello {name}!")

In [32]:
 greeting("latin")

Hello latin!

In [33]:
#Function can take input
def cube(base, power):
  return base**power

result = cube(5,4)
print(result)

625

In [34]:
## build my own chat bot
def chat():
  print("Hello!")
  order = {"hawaian": 0, "Cheesse": 0, "Hotdog": 0 }
  bill =#total money
  while True:
    user_name = input("What your name: ")
    print(f"Welcome to our pizza restaurant Mr. {user_name}.")
    ## another input ..

    ##end the process
    if user_input == "Check bill":
      print("Thank you very much")

SyntaxError: invalid syntax (ipython-input-1778682835.py, line 5)